<div style="background-color:#7a1400;height:60px;padding-top:7px;">
<h3 align=center style="color:white">
Multivariate Sales Forecasting - German Retail Chain - Analytical Dataset Creation
</h3> 
</div>

<h4>Avinash Pasupulate</h4><br>
avinash.pasupulate@gmail.com<br>
<a href="www.avinash.pasupulate.com">www.avinash.pasupulate.com</a>

<br>
<hr>
<b>Open the html file in the repository or click 
<a href="http://nbviewer.jupyter.org/github/avinashpasupulate/multivariate_sales_forecasting_german_retail_chain/blob/master/ads_creation.ipynb">Nbconvert Notebook</a> to view plots that are properly rendered.
<br><br>
Please wait for the html page to load completely.</b>
<br>
<hr>

<br>
<h3>Introduction:</h3>
<hr>
<p>
<div style="text-align:justify">
Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.
</div>

<p>
<div style="text-align:justify">
The challenge is to predict 6 weeks of daily sales for 1,115 stores located across Germany. Reliable sales forecasts enable store managers to create effective staff schedules that increase productivity and motivation.
</div>

<hr>
<br>
<h3>Notebooks in Series:</h3>
<hr>
This notebook is the first of the several notebooks listed below;
<ol>
<li>
<a href="http://nbviewer.jupyter.org/github/avinashpasupulate/multivariate_sales_forecasting_german_retail_chain/blob/master/ads_creation.ipynb">ADS Creation with Feature Extraction and Mining Exogenous Data</a>
<li> Exploratory Data Analysis
<li> Multivariate Forecasting
</ol>

The <a href="https://github.com/avinashpasupulate/multivariate_sales_forecasting_german_retail_chain">github link</a> also contains several excel files which are used as master files to map the exogenous data collected from different sources (links provided below).
<br>
<br>

<h3>Supporting Files & Links:</h3>
<hr>
<ol>
<li><a href = https://github.com/avinashpasupulate/multivariate_sales_forecasting_german_retail_chain/tree/master/data/external_data>Master Files</a>
 <li><a href="https://www.timeanddate.com/holidays/germany/">List of German state holidays by region</a>
 <li><a href="https://www.tuxx.uk/countries/germany/schoolholidays/2018/">List of German school holidays</a>
 <li><a href="https://trends.google.com/trends/explore?cat=18&date=2013-01-01%202017-01-01&geo=DE&q=rossmann">Google trend data for "Rossmann" in Germany</a>
 <li>
 <a href="https://www.worldfootball.net/all_matches/wm-2014-in-brasilien/">Dates for World Cup 2014</a>
 <li><a href="https://ec.europa.eu/eurostat/data/database">Asylum applicant data</a>
 <li><a href="https://tradingeconomics.com/germany/consumer-price-index-cpi">Consumer Price Index (CPI)</a>
 <li><a href="https://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?station=EDAC&station=EDAD&station=EDAH&station=EDAR&station=EDAS&station=EDBB&station=EDBC&station=EDBM&station=EDBT&station=EDCK&station=EDCP&station=EDDB&station=EDDC&station=EDDE&station=EDDF&station=EDDG&station=EDDH&station=EDDI&station=EDDK&station=EDDL&station=EDDM&station=EDDN&station=EDDP&station=EDDR&station=EDDS&station=EDDT&station=EDDV&station=EDDW&station=EDEF&station=EDEK&station=EDFE&station=EDFH&station=EDFM&station=EDGS&station=EDHI&station=EDHK&station=EDHL&station=EDIA&station=EDIC&station=EDIG&station=EDIH&station=EDIK&station=EDJA&station=EDKA&station=EDLE&station=EDLG&station=EDLN&station=EDLP&station=EDLV&station=EDLW&station=EDMA&station=EDMB&station=EDMO&station=EDNN&station=EDNY&station=EDOP&station=EDPH&station=EDPN&station=EDQD&station=EDQM&station=EDRZ&station=EDSB&station=EDTD&station=EDTL&station=EDTY&station=EDTZ&station=EDVE&station=EDVK&station=EDVV&station=EDWD&station=EDWE&station=EDXW&station=EDZB&station=EDZE&station=EDZH&station=EDZJ&station=ETAD&station=ETAR&station=ETAS&station=ETBA&station=ETBB&station=ETBS&station=ETEB&station=ETEH&station=ETEU&station=ETGB&station=ETGG&station=ETGI&station=ETGK&station=ETGM&station=ETGQ&station=ETGW&station=ETGY&station=ETGZ&station=ETHA&station=ETHB&station=ETHC&station=ETHE&station=ETHF&station=ETHI&station=ETHL&station=ETHM&station=ETHN&station=ETHR&station=ETHS&station=ETHT&station=ETIC&station=ETID&station=ETIE&station=ETIH&station=ETIK&station=ETIN&station=ETME&station=ETMK&station=ETML&station=ETMN&station=ETNA&station=ETND&station=ETNG&station=ETNH&station=ETNJ&station=ETNL&station=ETNN&station=ETNP&station=ETNS&station=ETNT&station=ETNU&station=ETNW&station=ETOR&station=ETOU&station=ETSA&station=ETSB&station=ETSE&station=ETSF&station=ETSH&station=ETSI&station=ETSL&station=ETSM&station=ETSN&station=ETSP&station=ETUL&station=ETUN&station=ETUO&station=ETUR&station=ETWM&station=KQAA&station=KQAB&station=KQAC&station=KQAK&station=KQAO&station=KQII&station=KQKT&station=KQKW&station=KQLB&station=KQQL&station=KQUB&data=tmpc&data=relh&year1=2013&month1=1&day1=1&year2=2015&month2=12&day2=31&tz=Etc%2FUTC&format=onlycomma&latlon=yes&direct=no&report_type=1&report_type=2">Historical Weather data</a>
 </ol>
    
<br> 
<h3>Next Steps: </h3>
<hr>
<ol>
    <li>Cleanup code
    <li>Get temperature data by region and date
    <li> Explore created dataset (Univariate and Multivariate)
    <li> Use multivariate methods to forecast sales
</ol>

In [2]:
import os
import copy
import json
import requests
import urllib3
import warnings
import calendar
import subprocess
import openweather
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
from geopy import geocoders
from bs4 import BeautifulSoup as bs
from pytrends.request import TrendReq

%matplotlib inline
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 100)

In [852]:
cwd = os.getcwd()

In [853]:
#list all files in data folder
print(subprocess.check_output(['ls','data/']).decode('UTF-8'))

external_data
raw_data

In [854]:
#importing all files, considering onle two files test 
#and store since sales data is not available in test station

store = pd.read_csv(cwd+'/data/raw_data/store.csv')
test = pd.read_csv(cwd+'/data/raw_data/test.csv')
train = pd.read_csv(cwd+'/data/raw_data/train.csv')
date_master = pd.read_excel(cwd+'/data/external_data/date_master.xlsx', sheet_name='date_master')
google_trends = pd.read_csv(cwd+'/data/external_data/google_trends.csv')

<h3>Description of Dataset</h3>
<hr>

Data fields
Most of the fields are self-explanatory. The following are descriptions for those that aren't.

* **Id** - an Id that represents a (Store, Date) duple within the test set
* **Store** - a unique Id for each store
* **Sales** - the turnover for any given day (this is what you are predicting)
* **Customers** - the number of customers on a given day
* **Open** - an indicator for whether the store was open: 0 = closed, 1 = open
* **StateHoliday** - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
* **SchoolHoliday** - indicates if the (Store, Date) was affected by the closure of public schools
* **StoreType** - differentiates between 4 different store models: a, b, c, d
* **Assortment** - describes an assortment level: a = basic, b = extra, c = extended
* **CompetitionDistance** - distance in meters to the nearest competitor store
* **CompetitionOpenSince[Month/Year]** - gives the approximate year and month of the time the nearest competitor was opened
* **Promo** - indicates whether a store is running a promo on that day
* **Promo2** - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
* **Promo2Since[Year/Week]** - describes the year and calendar week when the store started participating in Promo2
* **PromoInterval** - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

In [855]:
#creating working copy of the train data
sales = copy.deepcopy(train)

<br>
<br>
<h3>Identifying regions using state and school holidays</h3>
<hr>

Using union and intersections of german state and school holidays to identigy regions

In [856]:
#replacing categories in StateHoliday column 
holmap = {'0':0, 'a':'public holiday', 'b':'easter holiday', 'c':'christmas holiday', 0:0}
sales.StateHoliday = sales.StateHoliday.map(holmap)

In [857]:
#created date_holiday_master with list of holidays
#merging the train dataset with the date holiday master created with excel
sales.rename(columns={'Date':'date'}, inplace=True)
date_master.rename(columns={'date ':'date'}, inplace=True)
sales['date']=pd.to_datetime(sales['date'])
sales = sales.merge(date_master, how='left', on='date', suffixes={'','_dm'})

In [858]:
#getting only required columns
sales=sales[['Store', 'date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'year', 'day',
       'iso_weeknum', 'weekday', 'month', 'seasons', 'quarter',
       'holidays', 'holiday_type', 'regions_observed']]
sales_cp = copy.deepcopy(sales)

In [859]:
#recoding categories in the regions_observed column
sales_cp.regions_observed.unique()

array([nan, 'BW, BY, HE, NRW, RLP, SL', 'B, BB, MVP, SN, ST, TH',
       'Brandenburg', 'BW, BY, ST', 'Saxony', 'BW, BY, NRW, RLP, SL',
       'BB, MVP, SN, ST, TH', 'Bavaria, Saarland', 'Bavaria*',
       'All except BB', 'BW,\xa0BY,\xa0NRW,\xa0RLP,\xa0SL',
       'BB,\xa0MVP,\xa0SN,\xa0ST,\xa0TH',
       'B,\xa0BB,\xa0MVP,\xa0SN,\xa0ST,\xa0TH',
       'BW,\xa0BY,\xa0HE,\xa0NRW,\xa0RLP,\xa0SL', 'All except\xa0BB',
       'BW,\xa0BY,\xa0ST'], dtype=object)

mapping all regions to remove unwanted characters. <br>
*regex could have been used here to replace certain region names*

In [860]:
state_map = {'nan':None,
'BW, BY, HE, NRW, RLP, SL':'BW, BY, HE, NW, RP, SL',
'B, BB, MVP, SN, ST, TH':'B, BB, MV, SN, ST, TH',
'Brandenburg':'BB',
'BW, BY, ST':'BW, BY, ST',
'Saxony':'SN',
'BW, BY, NRW, RLP, SL':'BW, BY, NW, RP, SL',
'BB, MVP, SN, ST, TH':'BB, MV, SN, ST, TH',
'Bavaria, Saarland':'BY, SL',
'Bavaria*':'BY',
'All except BB': 'BW, BY, BE, HB, HH, HE, NI, MV, RP, SL, SN, ST, SH, TH, NW',
'BW,\xa0BY,\xa0NRW,\xa0RLP,\xa0SL': 'BW, BY, NW, RP, SL',
'BB,\xa0MVP,\xa0SN,\xa0ST,\xa0TH':'BB, MV, SN, ST, TH',
'B,\xa0BB,\xa0MVP,\xa0SN,\xa0ST,\xa0TH':'B, BB, MV, SN, ST, TH',
'BW,\xa0BY,\xa0HE,\xa0NRW,\xa0RLP,\xa0SL':'BW, BY, HE, NW, RP, SL', 
'All except\xa0BB':'BW, BY, BE, HB, HH, HE, NI, MV, RP, SL, SN, ST, SH, TH, NW',
'BW,\xa0BY,\xa0ST':'BW, BY, ST'}
sales_cp.regions_observed = sales_cp.regions_observed.map(state_map)

In [861]:
#categories in regions_observed after recoding
sales_cp.regions_observed.unique()

array([nan, 'BW, BY, HE, NW, RP, SL', 'B, BB, MV, SN, ST, TH', 'BB',
       'BW, BY, ST', 'SN', 'BW, BY, NW, RP, SL', 'BB, MV, SN, ST, TH',
       'BY, SL', 'BY',
       'BW, BY, BE, HB, HH, HE, NI, MV, RP, SL, SN, ST, SH, TH, NW'],
      dtype=object)

In [862]:
#subsetting data with only stores and regions_observed columns
#sales_cp.loc[sales_cp.StateHoliday!='public holiday', 'regions_observed'] = None
state_hol = sales_cp[sales_cp.StateHoliday=='public holiday']
state_hol_sub = state_hol[['Store','regions_observed']]
hol_agg = state_hol_sub.groupby(['regions_observed'])['Store'].nunique().reset_index()

In [863]:
#un-processed aggregation with overlapping regions
hol_agg

         regions_observed  Store
0      BB, MV, SN, ST, TH    167
1  BW, BY, HE, NW, RP, SL    766
2      BW, BY, NW, RP, SL    579
3              BW, BY, ST    309
4                  BY, SL    180
5                      SN     75

In [864]:
#plotting number os unique stores in initial merge 
#ax = sns.barplot(x=hol_agg.Store, y=hol_agg.regions_observed)

In [865]:
#creating subsets with the region clusters for finding intersect and union of the datasets
reg_1 = state_hol_sub[state_hol_sub.regions_observed=='BW, BY, ST']
reg_2 = state_hol_sub[state_hol_sub.regions_observed=='BY, SL']
reg_3 = state_hol_sub[state_hol_sub.regions_observed=='BW, BY, NW, RP, SL']
reg_4 = state_hol_sub[state_hol_sub.regions_observed=='BW, BY, HE, NW, RP, SL']
reg_5 = state_hol_sub[state_hol_sub.regions_observed=='BB, MV, SN, ST, TH']

In [866]:
SN = state_hol_sub[state_hol_sub.regions_observed=='SN']

In [867]:
BY = pd.DataFrame(np.intersect1d(reg_1.Store, reg_2.Store))
BY = state_hol_sub[state_hol_sub.Store.isin(BY[0])].drop_duplicates()

In [868]:
BW_ST = pd.DataFrame(np.setxor1d(reg_1.Store, BY.Store))
BW_ST = state_hol_sub[state_hol_sub.Store.isin(BW_ST[0])].drop_duplicates()
BW = pd.DataFrame(np.intersect1d(reg_3.Store, BW_ST.Store))
BW = state_hol_sub[state_hol_sub.Store.isin(BW[0])].drop_duplicates()

In [869]:
ST = pd.DataFrame(np.setxor1d(BW.Store, BW_ST.Store))
ST = state_hol_sub[state_hol_sub.Store.isin(ST[0])].drop_duplicates()

In [870]:
SL = pd.DataFrame(np.setxor1d(reg_2.Store, BY.Store))
SL = state_hol_sub[state_hol_sub.Store.isin(SL[0])].drop_duplicates()

In [871]:
#for some reason HE also seems to contain SN, removing from the subset
HE_SN = pd.DataFrame(np.setxor1d(reg_3.Store, reg_4.Store))
HE_SN = state_hol_sub[state_hol_sub.Store.isin(HE_SN[0])].drop_duplicates()
HE = pd.DataFrame(np.setxor1d(HE_SN.Store, SN.Store))
HE = state_hol_sub[state_hol_sub.Store.isin(HE[0])].drop_duplicates()

In [872]:
NW_RP_1 = pd.DataFrame(np.setxor1d(reg_3.Store, BW.Store))
NW_RP_1 = state_hol_sub[state_hol_sub.Store.isin(NW_RP_1[0])].drop_duplicates()
NW_RP_2 = pd.DataFrame(np.setxor1d(NW_RP_1.Store, BY.Store))
NW_RP_2 = state_hol_sub[state_hol_sub.Store.isin(NW_RP_2[0])].drop_duplicates()
NW_RP = pd.DataFrame(np.setxor1d(NW_RP_2.Store, SL.Store))
NW_RP = state_hol_sub[state_hol_sub.Store.isin(NW_RP[0])].drop_duplicates()

In [873]:
BB_MV_TH_1 = pd.DataFrame(np.setxor1d(reg_5.Store, SN.Store))
BB_MV_TH_1 = state_hol_sub[state_hol_sub.Store.isin(BB_MV_TH_1[0])].drop_duplicates()
BB_MV_TH = pd.DataFrame(np.setxor1d(BB_MV_TH_1.Store, ST.Store))
BB_MV_TH = state_hol_sub[state_hol_sub.Store.isin(BB_MV_TH[0])].drop_duplicates()

In [874]:
#finding the stores all over germany except for the ones listed above
ALL = pd.DataFrame(sales_cp['Store'].unique())
ALL_1 = pd.DataFrame(np.setxor1d(ALL[0], reg_4.Store))
ALL_1 = state_hol_sub[state_hol_sub.Store.isin(ALL_1[0])].drop_duplicates()
BE_HB_HH_NI_SH = pd.DataFrame(np.setxor1d(ALL_1.Store, reg_5.Store))
BE_HB_HH_NI_SH = ALL_1[ALL_1.Store.isin(BE_HB_HH_NI_SH[0])].drop_duplicates()

In [875]:
#naming dataframes and looking for common values
SN.name='SN'
ST.name='ST'
BW.name='BW'
BY.name='BY'
HE.name='HE'
SL.name='SL'
NW_RP.name='NW_RP'
BB_MV_TH.name='BB_MV_TH'
BE_HB_HH_NI_SH.name='BE_HB_HH_NI_SH'

In [876]:
#checking if there is overlapping between current classification
city = [SN, ST, BW, BY, HE, SL, NW_RP, BB_MV_TH, BE_HB_HH_NI_SH]
for i in range(len(city)):
    for j in range(len(city)):
        if np.array_equal(city[i].Store, city[j].Store):
            print(city[i].name,city[j].name,np.array_equal(city[i].Store, city[j].Store))

SN SN True
ST ST True
BW BW True
BY BY True
HE HE True
SL SL True
NW_RP NW_RP True
BB_MV_TH BB_MV_TH True
BE_HB_HH_NI_SH BE_HB_HH_NI_SH True

In [877]:
#adding columns in subsets with mapped region
SN['mapped_region'] = "SN"
ST['mapped_region'] = "ST"
BW['mapped_region'] = "BW"
BY['mapped_region'] = "BY"
HE['mapped_region'] = "HE"
SL['mapped_region'] = "SL"
NW_RP['mapped_region'] = "NW_RP"
BB_MV_TH['mapped_region'] = "BB_MV_TH"
BE_HB_HH_NI_SH['mapped_region'] = "BE_HB_HH_NI_SH"

In [878]:
#combining all store-region mapping subsets
frames = [SN, ST, BW, BY, HE, SL, NW_RP, BB_MV_TH, BE_HB_HH_NI_SH]
store_reg = pd.concat(frames).drop_duplicates()

In [879]:
#further identifying regions for above clusters using the school holiday information
school_hols = pd.read_excel(cwd+'/data/external_data/schol_out_trans.xlsx', sheet_name='transformed_hols')

In [880]:
school_hols.head()

,region,region_code,holiday,key,year,from,to
0,Baden-WÃ¼rttemberg,BW,autumn,Baden-WÃ¼rttembergBWautumn2013,2013,2013-10-28,2013-10-30
1,Baden-WÃ¼rttemberg,BW,christmas,Baden-WÃ¼rttembergBWchristmas2013,2013,2013-12-23,2013-01-05
2,Baden-WÃ¼rttemberg,BW,easter,Baden-WÃ¼rttembergBWeaster2013,2013,2013-03-25,2013-04-05
3,Baden-WÃ¼rttemberg,BW,pentecost,Baden-WÃ¼rttembergBWpentecost2013,2013,2013-05-21,2013-06-01
4,Baden-WÃ¼rttemberg,BW,summer,Baden-WÃ¼rttembergBWsummer2013,2013,2013-07-25,2013-09-07

NW_RP
BB_MV_TH
BE_HB_HH_NI_SH

In [881]:
#checking if all stores from a region have holiday on the same day
train.loc[train.Store.isin(HE.Store)].groupby('Date')['SchoolHoliday'].sum().value_counts()

# 0 denotes no holidays for 749 stores and all have holidays on same day

0      749
112    193
Name: SchoolHoliday, dtype: int64

In [882]:
train.loc[train.Store.isin(BW.Store)].groupby('Date')['SchoolHoliday'].sum().value_counts()

0     787
73    155
Name: SchoolHoliday, dtype: int64

In [883]:
train.loc[train.Store.isin(BY.Store)].groupby('Date')['SchoolHoliday'].sum().value_counts()

0      634
180    124
Name: SchoolHoliday, dtype: int64

In [884]:
train.loc[train.Store.isin(SN.Store)].groupby('Date')['SchoolHoliday'].sum().value_counts()

0     770
75    172
Name: SchoolHoliday, dtype: int64

In [885]:
train.loc[train.Store.isin(ST.Store)].groupby('Date')['SchoolHoliday'].sum().value_counts()

0     774
56    168
Name: SchoolHoliday, dtype: int64

In [886]:
#some stores have holidays on different so probably belong to different regions
train.loc[train.Store.isin(NW_RP.Store)].groupby('Date')['SchoolHoliday'].sum().value_counts()

#there is overlapping of holidays from different regions

0      722
326    100
286     70
40      50
Name: SchoolHoliday, dtype: int64

In [887]:
#stores in this category may belong to the same region
train.loc[train.Store.isin(BB_MV_TH.Store)].groupby('Date')['SchoolHoliday'].sum().value_counts()

0     775
36    167
Name: SchoolHoliday, dtype: int64

In [888]:
#checking if there is a school holiday which is mutually exclusive
#26-03-2015 is exclusive to RP region
TH = train.loc[train.Store.isin(BB_MV_TH.Store)&(train.SchoolHoliday==1), 'Store'].values
TH = state_hol_sub.loc[state_hol_sub.Store.isin(TH)].drop_duplicates()

RP = train.loc[train.Date=='2015-03-26'].loc[train.Store.isin(NW_RP.Store)].loc[train.SchoolHoliday==1,'Store'].values
RP = state_hol_sub.loc[state_hol_sub.Store.isin(RP)].drop_duplicates()
NW = np.setxor1d(NW_RP.Store,RP.Store)
NW = state_hol_sub[state_hol_sub.Store.isin(NW)].drop_duplicates()

In [889]:
#this category has stores from multiple regions
train.loc[train.Store.isin(BE_HB_HH_NI_SH.Store)].groupby('Date')['SchoolHoliday'].sum().value_counts()

0      618
22      84
257     80
28      42
235     24
229     24
92      15
114     13
143     10
120     10
115      8
207      6
137      5
256      1
165      1
50       1
Name: SchoolHoliday, dtype: int64

In [890]:
#l = ['BE','HB','HH','NI','SH']
#school_hols[(school_hols.region_code.isin(l))&(school_hols.year==2013)]

In [891]:
#HE region seems to have a holiday on 26/10/2013
#train.loc[(train.Date=='2015-03-02')&(train.Store.isin(BE_HB_HH_NI_SH)),'Store'].values

In [892]:
#train.loc[train.Date=='2015-03-02'].loc[train.Store.isin(BE_HB_HH_NI_SH)].loc[train.SchoolHoliday==1,'Store'].values
HH = train.loc[(train.Date=='2015-03-02')&(train.Store.isin(BE_HB_HH_NI_SH.Store))&(train.SchoolHoliday==1),'Store'].values
#removing HH from the cluster
BE_HB_NI_SH = np.setxor1d(BE_HB_HH_NI_SH.Store,HH)

HH = state_hol_sub[state_hol_sub.Store.isin(HH)].drop_duplicates()

In [893]:
SH = train.loc[(train.Date=='2015-04-17')&(train.Store.isin(BE_HB_NI_SH))&(train.SchoolHoliday==1),'Store'].values
BE_HB_NI = np.setxor1d(BE_HB_NI_SH, SH)

SH = state_hol_sub[state_hol_sub.Store.isin(SH)].drop_duplicates()

In [894]:
BE = train.loc[(train.Date=='2015-03-25')&(train.Store.isin(BE_HB_NI))&(train.SchoolHoliday==1),'Store'].values

HB_NI = np.setxor1d(BE_HB_NI, BE)
BE = state_hol_sub[state_hol_sub.Store.isin(BE)].drop_duplicates()

In [895]:
HB = train.loc[(train.Store.isin(HB_NI))&(train.Date=='2014-09-10')&(train.SchoolHoliday==1), 'Store'].values

NI = np.setxor1d(HB_NI, HB)
HB = state_hol_sub[state_hol_sub.Store.isin(HB)].drop_duplicates()
NI = state_hol_sub[state_hol_sub.Store.isin(NI)].drop_duplicates()

In [896]:
#naming dataframes and looking for common values
SN.name='SN'
ST.name='ST'
BW.name='BW'
BY.name='BY'
HE.name='HE'
BE.name='BE'
NW.name='NW'
RP.name='RP'
TH.name='TH'
HB.name='HB'
HH.name='HH'
NI.name='NI'
SH.name='SH'

In [897]:
#checking if there is no overlapping of mapped regions (True denotes there is no overlapping of stores)
city = [SN, ST, BW, BY, HE, NW, RP, TH, BE, HB, HH, NI, SH]
for i in range(len(city)):
    for j in range(len(city)):
        if np.array_equal(city[i].Store, city[j].Store):
            print(city[i].name,city[j].name,np.array_equal(city[i].Store, city[j].Store))

SN SN True
ST ST True
BW BW True
BY BY True
HE HE True
NW NW True
RP RP True
TH TH True
BE BE True
HB HB True
HH HH True
NI NI True
SH SH True

In [898]:
#adding columns in subsets with mapped region
SN['mapped_region'] = "SN"
ST['mapped_region'] = "ST"
BW['mapped_region'] = "BW"
BY['mapped_region'] = "BY"
HE['mapped_region'] = "HE"
BE['mapped_region'] = "BE"
NW['mapped_region'] = "NW"
RP['mapped_region'] = "RP"
TH['mapped_region'] = "TH"
HB['mapped_region'] = "HB"
HH['mapped_region'] = "HH"
NI['mapped_region'] = "NI"
SH['mapped_region'] = "SH"

In [899]:
#combining all store-region mapping subsets
frames = [SN, ST, BW, BY, HE, BE, NW, RP, TH, HB, HH, NI, SH]
store_reg = pd.concat(frames).drop_duplicates()

In [900]:
#processed mapping sums to 1115 stores
store_reg.groupby(['mapped_region'])['Store'].nunique().reset_index()

   mapped_region  Store
0             BE     22
1             BW     73
2             BY    180
3             HE    112
4             HH     28
5             NI     92
6             NW    286
7             RP     40
8             SH    115
9             SN     75
10            ST     56
11            TH     36

In [901]:
len(train.loc[~train.Store.isin(store_reg.Store), 'Store'].drop_duplicates().values)

0

In [902]:
len(store_reg['Store'].drop_duplicates())

1115

In [903]:
store_reg[['Store', 'mapped_region']].reset_index(drop = True).head()

   Store mapped_region
0      5            SN
1      6            SN
2     55            SN
3     57            SN
4     60            SN

In [904]:
sales = sales.iloc[:,:15]
sales = sales.merge(store_reg[['Store', 'mapped_region']], how = 'left', on='Store', suffixes={'','_mapreg'})

<br>
<h3>Acquiring and including Google trends data</h3>
<hr>

Mapping week wise historical google trend data (SVI - Search volume Index) to the sales dataset downloaded from 

https://trends.google.com/trends/explore?cat=18&date=2013-01-01%202017-01-01&geo=DE&q=rossmann

In [905]:
#getting google trend information
pytrends = TrendReq(hl='en-US',tz='60')
kw_list = ['rossmann']
#unable to collect google trends data at a daily level, downloading manually
pytrends.build_payload(kw_list, cat=0, timeframe='2013-01-01 2016-01-01', geo='DE', gprop='froogle')
ross_trend = pytrends.interest_over_time()

pytrends and google trends doesnt provide daily data for more than 90 days, so downloading weekly data from google trends seems to be a faster option

In [906]:
ross_trend = ross_trend.reset_index()[['date','rossmann']]
#ross_trend['week_number']=ross_trend['date'].apply(lambda x: x.)
#ross_trend['date'].isocalendar()[0]
ross_trend['year'] = ross_trend['date'].dt.year
ross_trend['week_num'] = ross_trend['date'].dt.week

#google trend data by week
ross_trend.head()

        date  rossmann  year  week_num
0 2013-01-06        33  2013         1
1 2013-01-13        17  2013         2
2 2013-01-20        18  2013         3
3 2013-01-27        30  2013         4
4 2013-02-03         8  2013         5

In [907]:
sales['trend_key'] = sales['year'].astype(str)+'-'+sales['iso_weeknum'].astype(str)
ross_trend['trend_key'] = ross_trend['year'].astype(str)+'-'+ross_trend['week_num'].astype(str)

ross_trend.head()

        date  rossmann  year  week_num trend_key
0 2013-01-06        33  2013         1    2013-1
1 2013-01-13        17  2013         2    2013-2
2 2013-01-20        18  2013         3    2013-3
3 2013-01-27        30  2013         4    2013-4
4 2013-02-03         8  2013         5    2013-5

In [908]:
ross_trend.columns = ['date_t', 'google_svi', 'year_t', 'week_num_t', 'trend_key']

In [909]:
#mapping in google trends data by week number
sales = sales.merge(ross_trend, how='left', on='trend_key', suffixes={'','_trend'})

In [910]:
sales.head()

,Store,date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,year,day,iso_weeknum,weekday,month,seasons,quarter,mapped_region,trend_key,date_t,google_svi,year_t,week_num_t
0,1,2015-07-31,5263,555,1,1,0,1,2015,31,31,Friday,July,Summer,3,HE,2015-31,2015-08-02,41,2015,31
1,1,2015-07-31,5263,555,1,1,0,1,2015,31,31,Friday,July,Summer,3,HE,2015-31,2015-08-02,41,2015,31
2,2,2015-07-31,6064,625,1,1,0,1,2015,31,31,Friday,July,Summer,3,TH,2015-31,2015-08-02,41,2015,31
3,2,2015-07-31,6064,625,1,1,0,1,2015,31,31,Friday,July,Summer,3,TH,2015-31,2015-08-02,41,2015,31
4,3,2015-07-31,8314,821,1,1,0,1,2015,31,31,Friday,July,Summer,3,NW,2015-31,2015-08-02,41,2015,31

Including other exogenous data from two events ,
    1. World Cup 2014 (major sport event)
    2. European Immigrant Crisis (supplies for immigrants, rioters etc)
    3. Macroeconomic variable - Consumer Price Index for Germany

<br>
<br>
List of notable events in german history;
https://en.wikipedia.org/wiki/Timeline_of_German_history


Link to asylum application data by month: http://appsso.eurostat.ec.europa.eu/nui/show.do

Link to football worldcup dates: https://www.worldfootball.net/all_matches/wm-2014-in-brasilien/

In [911]:
#including all dates (maybe provide extra weight/flag to days before and after germany has played)
wc_2014 = pd.read_html('https://www.worldfootball.net/all_matches/wm-2014-in-brasilien/')
wc_2014 = wc_2014[1]
wc_2014.columns = ['date', 'time', 'team_a', '1', 'team_b', '2', '3', '4']
dlab = ['1', '2', '3', '4']
wc_2014.drop(dlab, axis=1, inplace=True)
wc_2014['date'].fillna(method = 'ffill', inplace = True)
wc_2014['date']=pd.to_datetime(wc_2014['date'], errors='coerce')
wc_2014.dropna(axis = 0, inplace = True)
wc_2014.head()

        date   time    team_a    team_b
1 2014-12-06  21:00    Brazil   Croatia
2 2014-06-13  17:00    Mexico  Cameroon
3 2014-06-17  20:00    Brazil    Mexico
4 2014-06-18  23:00  Cameroon   Croatia
5 2014-06-23  21:00  Cameroon    Brazil

In [912]:
#merging with the dataset
sales.loc[sales.date.isin(wc_2014.date), 'wc_days']=1
sales['wc_days'].fillna(0, inplace=True)
sales.wc_days = sales.wc_days.astype(int)

In [913]:
#importing asylum applicants in germany for 2013, 2014, 2015
imm_app = pd.read_csv(cwd+'/data/external_data/migr_asyappctzm/migr_asyappctzm_1_Data.csv')
imm_app.head(2)

,TIME,GEO,CITIZEN,SEX,AGE,ASYL_APP,UNIT,Value,Flag and Footnotes
0,2013M01,Germany (until 1990 former territory of the FRG),Extra-EU28 (current composition),Total,Total,Asylum applicant,Person,"8,370",NaN
1,2013M01,Germany (until 1990 former territory of the FRG),Extra-EU28 (current composition),Total,Total,First time applicant,Person,"7,505",NaN

In [914]:
dlab1 = ['GEO', 'CITIZEN', 'SEX', 'AGE', 'ASYL_APP', 'UNIT', 'Flag and Footnotes']
imm_app = imm_app[imm_app['ASYL_APP']=='Asylum applicant'].drop(dlab1, axis=1)
imm_app.columns = ['year_month', 'num_asy_app']

In [915]:
imm_app.head()

  year_month num_asy_app
0    2013M01       8,370
2    2013M02       6,800
4    2013M03       6,500
6    2013M04       8,735
8    2013M05       8,580

In [916]:
imm_app['year'],imm_app['month'] = imm_app.year_month.str.split('M', 1).str
imm_app['month'] = imm_app['month'].astype(int).apply(lambda x: calendar.month_name[x])
imm_app['year_month'] = imm_app['year'].astype(str)+'_'+imm_app['month'].astype(str)

In [917]:
sales['year_month'] = sales['year'].astype(str)+'_'+sales['month'].astype(str)

In [918]:
sales = sales.merge(imm_app, how='left', on='year_month', suffixes={'','_imm'})

In [919]:
cpi = pd.read_csv(cwd+'/data/external_data/cpi_germany_13-15.csv')
cpi.columns = ['date', 'cpi']

In [920]:
cpi['month'] = pd.DatetimeIndex(cpi['date']).month
cpi['year'] = pd.DatetimeIndex(cpi['date']).year
cpi['month'] = cpi['month'].apply(lambda x: calendar.month_name[x])
cpi['cpi_key'] = cpi['year'].astype(str)+'_'+cpi['month'].astype(str)

In [921]:
sales['cpi_key'] = sales['year'].astype(str)+"_"+sales['month']
sales = sales.merge(cpi, how = 'left', on = 'cpi_key', suffixes = {'','_cpi'})
sales.head()

,Store,date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,year,day,iso_weeknum,weekday,month,seasons,quarter,mapped_region,trend_key,date_t,google_svi,year_t,week_num_t,wc_days,year_month,num_asy_app,year_imm,month_imm,cpi_key,date_cpi,cpi,month_cpi,year_cpi
0,1,2015-07-31,5263,555,1,1,0,1,2015,31,31,Friday,July,Summer,3,HE,2015-31,2015-08-02,41,2015,31,0,2015_July,"39,825",2015,July,2015_July,2015-07-01,100.288454,July,2015
1,1,2015-07-31,5263,555,1,1,0,1,2015,31,31,Friday,July,Summer,3,HE,2015-31,2015-08-02,41,2015,31,0,2015_July,"39,825",2015,July,2015_July,2015-07-01,100.288454,July,2015
2,2,2015-07-31,6064,625,1,1,0,1,2015,31,31,Friday,July,Summer,3,TH,2015-31,2015-08-02,41,2015,31,0,2015_July,"39,825",2015,July,2015_July,2015-07-01,100.288454,July,2015
3,2,2015-07-31,6064,625,1,1,0,1,2015,31,31,Friday,July,Summer,3,TH,2015-31,2015-08-02,41,2015,31,0,2015_July,"39,825",2015,July,2015_July,2015-07-01,100.288454,July,2015
4,3,2015-07-31,8314,821,1,1,0,1,2015,31,31,Friday,July,Summer,3,NW,2015-31,2015-08-02,41,2015,31,0,2015_July,"39,825",2015,July,2015_July,2015-07-01,100.288454,July,2015

In [922]:
dcol = ['trend_key', 'date_t', 'year_t', 'week_num_t', 'year_month', 'year_imm', 'month_imm', 'date_cpi', 'cpi_key', 'month_cpi', 'year_cpi']
sales.drop(dcol, axis=1, inplace= True)
sales.head()

,Store,date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,year,day,iso_weeknum,weekday,month,seasons,quarter,mapped_region,google_svi,wc_days,num_asy_app,cpi
0,1,2015-07-31,5263,555,1,1,0,1,2015,31,31,Friday,July,Summer,3,HE,41,0,"39,825",100.288454
1,1,2015-07-31,5263,555,1,1,0,1,2015,31,31,Friday,July,Summer,3,HE,41,0,"39,825",100.288454
2,2,2015-07-31,6064,625,1,1,0,1,2015,31,31,Friday,July,Summer,3,TH,41,0,"39,825",100.288454
3,2,2015-07-31,6064,625,1,1,0,1,2015,31,31,Friday,July,Summer,3,TH,41,0,"39,825",100.288454
4,3,2015-07-31,8314,821,1,1,0,1,2015,31,31,Friday,July,Summer,3,NW,41,0,"39,825",100.288454

<h3>Acquiring temperature/weather data</h3>
<hr>
<ul><li>searching with addresses and nearest weather stations with historical information

In [923]:
regmap = {'HE': 'Hessen', 'TH':'Thuringia', 'NW':'North Rhine Westfalia', 'NI':'Lower Saxony', 'SN':'Saxony', 'SH':'Schleswig Holstein', 'BE':'Berlin', 'BY':'Bavaria', 'BW':'Baden-Württemberg', 'RP':'Rhineland-Palatinate', 'ST':'Saxony-Anhalt', 'HH':'Hamburg'}
sales.mapped_region = sales.mapped_region.map(regmap)

In [924]:
#getting latitude and longitude for the regions to identify weather station ids
g = geocoders.ArcGIS()
reg_df = pd.DataFrame(columns = ['region', 'latitude', 'longitude'])
for i in sales.mapped_region.unique():
    geo = g.geocode(i)
    reg_df = reg_df.append({'region': geo[0], 'latitude': geo[1][0], 'longitude': geo[1][1]}, ignore_index=True)

In [925]:
#getting station ids from open weather
#ow = openweather.OpenWeather('020ce5e8ceb7bd3a1d6c800b2247fa18')
#station = ow.find_stations_near(50.603974, 9.031721, 50)

In [926]:
weather_stn = 'https://mesonet.agron.iastate.edu/sites/networks.php?network=DE__ASOS&format=csv&nohtml=on'
weather_data = 'https://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?station=EDAC&station=EDAD&station=EDAH&station=EDAR&station=EDAS&station=EDBB&station=EDBC&station=EDBM&station=EDBT&station=EDCK&station=EDCP&station=EDDB&station=EDDC&station=EDDE&station=EDDF&station=EDDG&station=EDDH&station=EDDI&station=EDDK&station=EDDL&station=EDDM&station=EDDN&station=EDDP&station=EDDR&station=EDDS&station=EDDT&station=EDDV&station=EDDW&station=EDEF&station=EDEK&station=EDFE&station=EDFH&station=EDFM&station=EDGS&station=EDHI&station=EDHK&station=EDHL&station=EDIA&station=EDIC&station=EDIG&station=EDIH&station=EDIK&station=EDJA&station=EDKA&station=EDLE&station=EDLG&station=EDLN&station=EDLP&station=EDLV&station=EDLW&station=EDMA&station=EDMB&station=EDMO&station=EDNN&station=EDNY&station=EDOP&station=EDPH&station=EDPN&station=EDQD&station=EDQM&station=EDRZ&station=EDSB&station=EDTD&station=EDTL&station=EDTY&station=EDTZ&station=EDVE&station=EDVK&station=EDVV&station=EDWD&station=EDWE&station=EDXW&station=EDZB&station=EDZE&station=EDZH&station=EDZJ&station=ETAD&station=ETAR&station=ETAS&station=ETBA&station=ETBB&station=ETBS&station=ETEB&station=ETEH&station=ETEU&station=ETGB&station=ETGG&station=ETGI&station=ETGK&station=ETGM&station=ETGQ&station=ETGW&station=ETGY&station=ETGZ&station=ETHA&station=ETHB&station=ETHC&station=ETHE&station=ETHF&station=ETHI&station=ETHL&station=ETHM&station=ETHN&station=ETHR&station=ETHS&station=ETHT&station=ETIC&station=ETID&station=ETIE&station=ETIH&station=ETIK&station=ETIN&station=ETME&station=ETMK&station=ETML&station=ETMN&station=ETNA&station=ETND&station=ETNG&station=ETNH&station=ETNJ&station=ETNL&station=ETNN&station=ETNP&station=ETNS&station=ETNT&station=ETNU&station=ETNW&station=ETOR&station=ETOU&station=ETSA&station=ETSB&station=ETSE&station=ETSF&station=ETSH&station=ETSI&station=ETSL&station=ETSM&station=ETSN&station=ETSP&station=ETUL&station=ETUN&station=ETUO&station=ETUR&station=ETWM&station=KQAA&station=KQAB&station=KQAC&station=KQAK&station=KQAO&station=KQII&station=KQKT&station=KQKW&station=KQLB&station=KQQL&station=KQUB&data=tmpc&data=relh&year1=2013&month1=1&day1=1&year2=2015&month2=12&day2=31&tz=Etc%2FUTC&format=onlycomma&latlon=yes&direct=no&report_type=1&report_type=2'

In [927]:
weather_stn = pd.read_csv(weather_stn)

In [928]:
weather_stn.head()

,stid,station_name,lat,lon,elev,begints,iem_network
0,EDKA,Aachen Merzbruck,50.82420,6.18700,191.069,2018-01-12 07:00:00-06,DE__ASOS
1,EDAC,ALTENBURG-NOBITZ,50.98182,12.50636,195.000,2011-01-03 01:20:00-06,DE__ASOS
2,ETHA,ALTENSTADT/SCHON,47.83639,10.87222,760.000,2011-08-22 22:20:00-05,DE__ASOS
3,EDMA,AUGSBERG/MULHAUS,48.42611,10.94306,463.000,2011-07-02 00:20:00-05,DE__ASOS
4,EDDB,BERLIN/SCHONEFEL,52.38222,13.53250,48.000,2010-12-31 18:20:00-06,DE__ASOS

In [929]:
#weather_data = pd.read_csv(weather_data)
#weather_data.to_csv('german_weather_data.csv')

<br>
<h3>Objective/To Do :</h3> 
<hr>
<ul><li>Finding what stations lie within which region so that they can be mapped to their respective station</ul>

In [933]:
#get google api key from google
key = 'get it from google'
def rev_code(lat, lon, key):
    url = "https://maps.googleapis.com/maps/api/geocode/json?"
    url += "latlng=%s,%s&sensor=false&key=%s" %(lat, lon, key)
    address = requests.get(url).json()
    comp = address['results'][0]['address_components']
    ad = []
    l = ['postal_town', 'administrative_area_level_2', 'administrative_area_level_1', 'country']
    for c in comp:
        if c['types'][0] in l:
            ad.append((c['long_name']+"-"+c['short_name']))
    return ad

In [934]:
weather_stn['location'] = weather_stn.apply(lambda x: '|'.join(i for i in rev_code(x['lat'], x['lon'], key)), axis=1)

In [935]:
loc = weather_stn['location'].str.split('|', expand=True)
weather_stn = weather_stn.join(loc)

In [936]:
stn_info = copy.copy(weather_stn)
stn_info[2].unique()
#dropping '2' since it contains only one country information
stn_info.drop(2, axis=1, inplace=True)
#stn_info.drop('location', axis=1, inplace=True)

Although location mapping can be done in python, mapping a few values in excel with index match and re-importing was easier

In [937]:
#stn_info[0].apply(lambda x: [i for i in x.split('-') if len(i)<4 else i])

stn_info['loc_codes'] = stn_info[0].apply(lambda x: [i if len(i)<4 else x for i in x.split('-')][1])
#stn_info.to_csv('stn_info.csv')
stn_info = pd.read_csv(cwd+r'/data/external_data/stn_info.csv')

In [938]:
stn_info['region_code'].unique()

array(['NW', 'TH', 'BY', 'BB', 'BE', '-', 'NI', 'RP', 'ST', 'BW', 'SN',
       'HE', 'HH', 'MV', 'SH', 'Denmark'], dtype=object)

In [939]:
weather_data = pd.read_csv(cwd+r'/data/external_data/german_weather_data.csv')

In [940]:
weather_data.columns = ['sno', 'stid', 'valid', 'lon', 'lat', 'tmpc', 'relh']
weather_data.head()

   sno  stid             valid     lon      lat  tmpc    relh
0    0  ETOU  2013-01-01 06:16  8.3254  50.0498  6.00   81.07
1    1  ETAD  2013-01-01 06:20  6.6992  49.9802  5.00   93.24
2    2  EDDK  2013-01-01 06:20  7.1586  50.8661  7.00   81.20
3    3  EDXW  2013-01-01 06:20  8.3405  54.9132  6.00  100.00
4    4  EDDV  2013-01-01 06:20  9.6797  52.4658  7.00   87.09

In [941]:
weather_data = weather_data.merge(stn_info, on = 'stid', how='inner', suffixes={'_l','_r'})
weather_data.head()

,sno,stid,valid,lon_r,lat_r,tmpc,relh,station_name,lat_l,lon_l,elev,begints,iem_network,location,region_code
0,0,ETOU,2013-01-01 06:16,8.3254,50.0498,6.00,81.07,WIESBADEN (USA-A,50.04982,8.3254,141.0,22/08/11 14:55,DE__ASOS,Darmstadt-DA|Hessen-HE|Germany-DE,HE
1,37,ETOU,2013-01-01 06:31,8.3254,50.0498,6.00,81.07,WIESBADEN (USA-A,50.04982,8.3254,141.0,22/08/11 14:55,DE__ASOS,Darmstadt-DA|Hessen-HE|Germany-DE,HE
2,50,ETOU,2013-01-01 06:50,8.3254,50.0498,7.00,75.68,WIESBADEN (USA-A,50.04982,8.3254,141.0,22/08/11 14:55,DE__ASOS,Darmstadt-DA|Hessen-HE|Germany-DE,HE
3,69,ETOU,2013-01-01 06:51,8.3254,50.0498,7.00,75.68,WIESBADEN (USA-A,50.04982,8.3254,141.0,22/08/11 14:55,DE__ASOS,Darmstadt-DA|Hessen-HE|Germany-DE,HE
4,70,ETOU,2013-01-01 06:56,8.3254,50.0498,6.00,81.07,WIESBADEN (USA-A,50.04982,8.3254,141.0,22/08/11 14:55,DE__ASOS,Darmstadt-DA|Hessen-HE|Germany-DE,HE

In [942]:
weather_data=weather_data[['stid', 'valid', 'tmpc', 'relh', 'elev', 'region_code']]

#considering weather stations at below 300m which is nearly the average elevation of germany (260m)
weather_data = weather_data.loc[weather_data['elev']<300]

In [943]:
weather_data['date'] = pd.to_datetime(weather_data['valid']).dt.strftime('%Y-%m-%d')

aggregating the temperature, relative humidity data by date and region code

In [944]:
weather_data[['tmpc', 'relh', 'elev']] = weather_data[['tmpc', 'relh', 'elev']].apply(pd.to_numeric, args=['coerce'])
weather_data = weather_data.groupby(by=['date','region_code'])[['tmpc', 'relh', 'elev']].mean().reset_index()
weather_data = weather_data.loc[(weather_data['region_code']!='Denmark')&(weather_data['region_code']!='-')]

In [945]:
weather_data.head()

         date region_code      tmpc       relh        elev
1  2013-01-01          BB  6.851852  76.368333   58.333333
2  2013-01-01          BE  6.527778  83.007500   37.000000
3  2013-01-01          BW  7.032258  80.668387  124.000000
5  2013-01-01          HE  6.250000  84.523934  125.491803
6  2013-01-01          HH  6.289474  95.596053   16.000000

In [946]:
weather_data.region_code.unique()

array(['BB', 'BE', 'BW', 'HE', 'HH', 'MV', 'NI', 'NW', 'RP', 'SH', 'SN',
       'ST', 'TH'], dtype=object)

In [947]:
sales.mapped_region.unique()

array(['Hessen', 'Thuringia', 'North Rhine Westfalia', 'Lower Saxony',
       'Saxony', 'Schleswig Holstein', 'Berlin', 'Bavaria',
       'Baden-Württemberg', 'Rhineland-Palatinate', 'Saxony-Anhalt',
       'Hamburg'], dtype=object)

In [948]:
state_map = {'BB':'Brandenburg', 'BE':'Berlin', 'BW':'Baden-Württemberg', 'HE':'Hessen', 'HH':'Hamburg', 'MV':'Mecklenburg-Vorpommern', 'NI':'Lower Saxony', 'NW':'North Rhine Westfalia', 'RP':'Rhineland-Palatinate', 'SH':'Schleswig Holstein', 'SN':'Saxony','ST':'Saxony-Anhalt', 'TH':'Thuringia'}
weather_data['region_name'] = weather_data.region_code.map(state_map)

In [949]:
weather_data.region_name.unique()

array(['Brandenburg', 'Berlin', 'Baden-Württemberg', 'Hessen', 'Hamburg',
       'Mecklenburg-Vorpommern', 'Lower Saxony', 'North Rhine Westfalia',
       'Rhineland-Palatinate', 'Schleswig Holstein', 'Saxony',
       'Saxony-Anhalt', 'Thuringia'], dtype=object)

Bavaria is missing from the weather data so an alternate state (Baden-Württemberg) close to bavaria is mapped to it (bavaria)

In [950]:
weather_bavaria = weather_data.loc[weather_data['region_name']=='Baden-Württemberg']
weather_bavaria['region_name'] = 'Bavaria'
weather_bavaria['region_code'] = 'BY'
weather_data = weather_data.append(weather_bavaria)
weather_data['key'] = weather_data['date']+"-"+weather_data['region_name']

In [951]:
weather_data.head()

,date,region_code,tmpc,relh,elev,region_name,key
1,2013-01-01,BB,6.851852,76.368333,58.333333,Brandenburg,2013-01-01-Brandenburg
2,2013-01-01,BE,6.527778,83.007500,37.000000,Berlin,2013-01-01-Berlin
3,2013-01-01,BW,7.032258,80.668387,124.000000,Baden-Württemberg,2013-01-01-Baden-Württemberg
5,2013-01-01,HE,6.250000,84.523934,125.491803,Hessen,2013-01-01-Hessen
6,2013-01-01,HH,6.289474,95.596053,16.000000,Hamburg,2013-01-01-Hamburg

In [952]:
sales['key'] = sales['date'].astype(str)+"-"+sales['mapped_region']

In [953]:
sales = sales.merge(weather_data, on='key', how='inner', suffixes={'_s', '_w'})

In [954]:
sales.columns

Index(['Store', 'date_s', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'year', 'day', 'iso_weeknum',
       'weekday', 'month', 'seasons', 'quarter', 'mapped_region', 'google_svi',
       'wc_days', 'num_asy_app', 'cpi', 'key', 'date_w', 'region_code', 'tmpc',
       'relh', 'elev', 'region_name'],
      dtype='object')

In [955]:
sales = sales[['Store', 'date_s', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'year', 'day', 'iso_weeknum',
       'weekday', 'month', 'seasons', 'quarter', 'mapped_region', 'google_svi',
       'wc_days', 'num_asy_app', 'cpi', 'tmpc', 'relh']]

In [956]:
sales.head()

,Store,date_s,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,year,day,iso_weeknum,weekday,month,seasons,quarter,mapped_region,google_svi,wc_days,num_asy_app,cpi,tmpc,relh
0,1,2015-07-31,5263,555,1,1,0,1,2015,31,31,Friday,July,Summer,3,Hessen,41,0,"39,825",100.288454,16.296894,54.272174
1,1,2015-07-31,5263,555,1,1,0,1,2015,31,31,Friday,July,Summer,3,Hessen,41,0,"39,825",100.288454,16.296894,54.272174
2,56,2015-07-31,10022,619,1,1,0,1,2015,31,31,Friday,July,Summer,3,Hessen,41,0,"39,825",100.288454,16.296894,54.272174
3,56,2015-07-31,10022,619,1,1,0,1,2015,31,31,Friday,July,Summer,3,Hessen,41,0,"39,825",100.288454,16.296894,54.272174
4,69,2015-07-31,11204,1371,1,1,0,1,2015,31,31,Friday,July,Summer,3,Hessen,41,0,"39,825",100.288454,16.296894,54.272174

All exogenous data have been mined and included in the creates ADS. The store level data needs to modified and merged with the above sales dataset

<br>
<h3>
Modifying Store Level data
</h3>
<hr>

In [957]:
store = pd.read_csv(cwd+'/data/raw_data/store.csv')

converting the provided date/period information to date object, after which the duration for which the promo and competition is active relative to the date of sale is calculated

In [958]:
store['CompetitionOpenSinceMonth'] = store['CompetitionOpenSinceMonth'].astype(str).str.split('.', expand=True)[0]
store['CompetitionOpenSinceYear'] = store['CompetitionOpenSinceYear'].astype(str).str.split('.', expand=True)[0]

store['Promo2SinceWeek'] = store['Promo2SinceWeek'].astype(str).str.split('.', expand=True)[0]
store['Promo2SinceYear'] = store['Promo2SinceYear'].astype(str).str.split('.', expand=True)[0]

store['competition_since_date'] = store['CompetitionOpenSinceYear'].astype(int, errors='ignore')+'-'+store['CompetitionOpenSinceMonth'].astype(int, errors='ignore')+'-01'
store['competition_since_date'] = pd.to_datetime(store['competition_since_date'], errors="coerce", format='%Y-%m-%d')
store['promo_since_date'] = store['Promo2SinceYear']+'-'+store['Promo2SinceWeek']
store['promo_since_date'][store['promo_since_date'].str.contains('nan')]=pd.NaT
store['promo_since_date'] = pd.to_datetime(store['promo_since_date']+'-0',format='%Y-%W-%w')

In [959]:
store.columns

Index(['Store', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval',
       'competition_since_date', 'promo_since_date'],
      dtype='object')

In [960]:
store = store[['Store', 'StoreType', 'Assortment', 'CompetitionDistance',
               'PromoInterval','competition_since_date', 'promo_since_date']]

In [961]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,PromoInterval,competition_since_date,promo_since_date
0,1,c,a,1270.0,NaN,2008-09-01,NaT
1,2,a,a,570.0,"Jan,Apr,Jul,Oct",2007-11-01,2010-04-04
2,3,a,a,14130.0,"Jan,Apr,Jul,Oct",2006-12-01,2011-04-10
3,4,c,c,620.0,NaN,2009-09-01,NaT
4,5,a,a,29910.0,NaN,2015-04-01,NaT

In [962]:
sales_copy = copy.copy(sales)
sales_copy = sales_copy.merge(store, on='Store', how='inner', suffixes={'_sal', '_sto'})

In [963]:
sales_copy['days_since_competition'] = sales_copy['competition_since_date']-sales_copy['date_s']
sales_copy['days_since_promo'] = sales_copy['date_s']-sales_copy['promo_since_date']

In [964]:
sales_copy.head(20)

,Store,date_s,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,year,day,iso_weeknum,weekday,month,seasons,quarter,mapped_region,google_svi,wc_days,num_asy_app,cpi,tmpc,relh,StoreType,Assortment,CompetitionDistance,PromoInterval,competition_since_date,promo_since_date,days_since_competition,days_since_promo
0,1,2015-07-31,5263,555,1,1,0,1,2015,31,31,Friday,July,Summer,3,Hessen,41,0,"39,825",100.288454,16.296894,54.272174,c,a,1270.0,NaN,2008-09-01,NaT,-2524 days,NaT
1,1,2015-07-31,5263,555,1,1,0,1,2015,31,31,Friday,July,Summer,3,Hessen,41,0,"39,825",100.288454,16.296894,54.272174,c,a,1270.0,NaN,2008-09-01,NaT,-2524 days,NaT
2,1,2015-07-30,5020,546,1,1,0,1,2015,30,31,Thursday,July,Summer,3,Hessen,41,0,"39,825",100.288454,15.944318,56.774830,c,a,1270.0,NaN,2008-09-01,NaT,-2523 days,NaT
3,1,2015-07-30,5020,546,1,1,0,1,2015,30,31,Thursday,July,Summer,3,Hessen,41,0,"39,825",100.288454,15.944318,56.774830,c,a,1270.0,NaN,2008-09-01,NaT,-2523 days,NaT
4,1,2015-07-29,4782,523,1,1,0,1,2015,29,31,Wednesday,July,Summer,3,Hessen,41,0,"39,825",100.288454,16.233511,58.021436,c,a,1270.0,NaN,2008-09-01,NaT,-2522 days,NaT
5,1,2015-07-29,4782,523,1,1,0,1,2015,29,31,Wednesday,July,Summer,3,Hessen,41,0,"39,825",100.288454,16.233511,58.021436,c,a,1270.0,NaN,2008-09-01,NaT,-2522 days,NaT
6,1,2015-07-28,5011,560,1,1,0,1,2015,28,31,Tuesday,July,Summer,3,Hessen,41,0,"39,825",100.288454,17.530208,53.689010,c,a,1270.0,NaN,2008-09-01,NaT,-2521 days,NaT
7,1,2015-07-28,5011,560,1,1,0,1,2015,28,31,Tuesday,July,Summer,3,Hessen,41,0,"39,825",100.288454,17.530208,53.689010,c,a,1270.0,NaN,2008-09-01,NaT,-2521 days,NaT
8,1,2015-07-27,6102,612,1,1,0,1,2015,27,31,Monday,July,Summer,3,Hessen,41,0,"39,825",100.288454,17.680269,73.662870,c,a,1270.0,NaN,2008-09-01,NaT,-2520 days,NaT
9,1,2015-07-27,6102,612,1,1,0,1,2015,27,31,Monday,July,Summer,3,Hessen,41,0,"39,825",100.288454,17.680269,73.662870,c,a,1270.0,NaN,2008-09-01,NaT,-2520 days,NaT
10,1,2015-07-26,0,0,0,0,0,0,2015,26,30,Sunday,July,Summer,3,Hessen,31,0,"39,825",100.288454,16.514935,57.270714,c,a,1270.0,NaN,2008-09-01,NaT,-2519 days,NaT
11,1,2015-07-26,0,0,0,0,0,0,2015,26,30,Sunday,July,Summer,3,Hessen,31,0,"39,825",100.288454,16.514935,57.270714,c,a,1270.0,NaN,2008-09-01,NaT,-2519 days,NaT
12,1,2015-07-25,4364,500,1,0,0,0,2015,25,30,Saturday,July,Summer,3,Hessen,31,0,"39,825",100.288454,18.150000,71.016950,c,a,1270.0,NaN,2008-09-01,NaT,-2518 days,NaT
13,1,2015-07-25,4364,500,1,0,0,0,2015,25,30,Saturday,July,Summer,3,Hessen,31,0,"39,825",100.288454,18.150000,71.016950,c,a,1270.0,NaN,2008-09-01,NaT,-2518 days,NaT
14,1,2015-07-24,3706,459,1,0,0,0,2015,24,30,Friday,July,Summer,3,Hessen,31,0,"39,825",100.288454,23.505114,54.024375,c,a,1270.0,NaN,2008-09-01,NaT,-2517 days,NaT
15,1,2015-07-24,3706,459,1,0,0,0,2015,24,30,Friday,July,Summer,3,Hessen,31,0,"39,825",100.288454,23.505114,54.024375,c,a,1270.0,NaN,2008-09-01,NaT,-2517 days,NaT
16,1,2015-07-23,3769,503,1,0,0,0,2015,23,30,Thursday,July,Summer,3,Hessen,31,0,"39,825",100.288454,21.273457,52.046852,c,a,1270.0,NaN,2008-09-01,NaT,-2516 days,NaT
17,1,2015-07-23,3769,503,1,0,0,0,2015,23,30,Thursday,July,Summer,3,Hessen,31,0,"39,825",100.288454,21.273457,52.046852,c,a,1270.0,NaN,2008-09-01,NaT,-2516 days,NaT
18,1,2015-07-22,3464,463,1,0,0,0,2015,22,30,Wednesday,July,Summer,3,Hessen,31,0,"39,825",100.288454,25.276331,61.566331,c,a,1270.0,NaN,2008-09-01,NaT,-2515 days,NaT
19,1,2015-07-22,3464,463,1,0,0,0,2015,22,30,Wednesday,July,Summer,3,Hessen,31,0,"39,825",100.288454,25.276331,61.566331,c,a,1270.0,NaN,2008-09-01,NaT,-2515 days,NaT

In [3]:
!jupyter nbconvert --to html ads_creation.ipynb
os.rename('ads_creation.html', 'index.html')

[NbConvertApp] Converting notebook ads_creation.ipynb to html
[NbConvertApp] Writing 483586 bytes to ads_creation.html

<div style="background-color:#7a1400;height:40px;padding-top:0.1px;">
<h6 align=center style="color:white">
<a href="https://www.linkedin.com/in/avinashpasupulate/" style="color:white">Avinash Pasupulate - Linkedin Profile</a>
</h6> 
</div>